.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.notfound-heading {
  font-family: Roboto;
  color: Black;
}
